# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: 
# added ignore mp4 and ds_store
https://github.com/github/gitignore
/bower_components/
/node_modules/
/videoer/
*.mp4
*.mov
.DS_Store
