/* generelle indstillinger*/
* {
    box-sizing: border-box;

}

body {
    margin: 0%;
    padding: 0%;
    /*background-color: greenyellow;*/


}

img {
    width: 100%;
}

figure {
    margin: 0;
}

h1 {
    font-family: 'Amatic SC', cursive;
    letter-spacing: 0.3rem;
    font-size: 3rem;

    margin-bottom: 1rem;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

h2 {
    font-family: 'Barlow:500', sans-serif;
    letter-spacing: 0.05rem;
}

h3 {
    font-family: 'Barlow', sans-serif;
    letter-spacing: 0.05rem;

}

h4 {
    font-family: 'Barlow', sans-serif;
    letter-spacing: 0.05rem;
}

p {
    font-family: 'Barlow', sans-serif;
    letter-spacing: 0.05rem;
}

h6 {
    margin: inherit;
    padding: inherit;
}

footer {
    margin-top: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    border-top-width: 1px;
    border-top-style: solid;
}

footer p {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 2rem;

}



/* generelle indstillinger SLUT*/


.cover_img {
    background-size: cover;
    height: 20vw;
    width: 100vw;

}


.cover_txt {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    margin-left: 30vw;
    margin-right: 30vw;
    top: -6.5vw;
    color: white;

}


/*----------------------HEADER-----------------------*/
header {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vw;
    /*background-color: white;*/
    font-family: 'Barlow', sans-serif;
    position: fixed;
    width: 100%;
    top: 0px;
}

a {
    text-decoration: none;
}

.nav_right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 3rem;
    font-family: 'Amatic SC', cursive;


}

.nav_links {
    display: flex;
    justify-content: space-around;

}

.nav_links li {
    list-style: none;
    background-color: #f0f0f0;

    margin-right: 15px;
}

.nav_links a {
    text-decoration: none;
    color: black;

    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Barlow', sans-serif;

}

/*.burger {
    display: none;
}*/

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}

.forside_color a:hover {
    color: #C6A1AB;
}

.web_color a:hover {
    color: #999B54;
}

.ux_color a:hover {
    color: #BF7C80;
}

.animation_color a:hover {
    color: #8D798E;
}

.indhold_color a:hover {
    color: #C2913B;
}

.om_color a:hover {
    color: #6D3A3F;
}

.hide {
    visibility: hidden;
}

.color {
    background-color: #f0f0f0;
}

.color_1 {
    background-color: #f0f0f0;
}

/*----------------------HEADER SLUT----------------------*/



/*-----------------FORSIDE SLIDE ------------------*/

#slider,
.wrap,
.slide-content {
    /*box-sizing: border-box;*/
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    /*font-family: 'Barlow', sans-serif;*/
}

.slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;

    padding-bottom: 45px;

}

.slide-content h2 {
    font-size: 3.5rem;
    color: #fff;
    margin: 0.5rem;
    letter-spacing: 0.2rem;

}

.wrap {
    position: relative;


}

.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.slide1 {
    background-image: url(splash_billeder/slide_forside.svg);
}

.slide2 {
    background-image: url(splash_billeder/slide_web.svg)
}

.slide3 {
    background-image: url(splash_billeder/slide_ux.svg)
}

.slide4 {
    background-image: url(splash_billeder/slide_animation.svg)
}

.slide5 {
    background-image: url(splash_billeder/slipde_indhold.svg)
}

.slide6 {
    background-image: url(splash_billeder/slide_mig.svg)
}


.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;

    width: 0;
    height: 0;
    border-style: solid;
}

#arrow_left {
    border: solid rgba(18, 18, 18, 0.75);
    border-width: 0 5px 5px 0;
    /*display: inline-block;*/
    padding: 20px;

    margin-left: 30px;

    transform: rotate(135deg);
}

#arrow_right {
    border: solid rgba(18, 18, 18, 0.75);
    border-width: 0 5px 5px 0;
    /*display: inline-block;*/
    padding: 20px;

    transform: rotate(-45deg);
    right: 0;
    margin-right: 30px;
}

.button {}

.button a {
    color: black;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: 'Barlow', sans-serif;
}

.button a:hover {
    color: white;
    font-size: 1.8rem;
}

.slide-content p {
    font-size: 1.6rem;
    margin: inherit;
}


/*---------------------FORSIDE SLIDE SLUT---------------------*/



/*-------------------CLASS ANNIMATIONER-------------------*/

.img:hover {
    filter: brightness(60%);
    transform: scale(1.02);
}

.hidden_footer {
    display: none;
}

.dont_show {
    display: none;
}

.sectionwrapper {
    margin-top: -6rem;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.link {
    flex-grow: 1;
    flex-basis: 200px;
    font-family: 'Barlow', sans-serif;

    margin: 1rem;
    padding: 1px;
    width: 18vw;
    text-align: center;

}

.link h5 {
    color: black;
    font-size: 1rem;

}

.link:hover {
    padding: 3px;

}



/*-------------------CLASS ANNIMATIONER SLUT-------------------*/



/*------------------------------WEB------------------------------*/

#web_top .cover_txt {
    background-color: #999B54;
    color: white;
}

#web_top {
    margin-top: 2rem;
    margin-bottom: 2rem;

}

#web_top .img_txt {
    position: absolute;
    font-size: 1.2rem;
    color: white;
    background-color: #999B54;
    position: absolute;
    top: 44vw;
    right: 21vw;

}

/******* web_top *******/

#web_top .sectionwrapper {

    margin-left: 4rem;
    margin-right: 4rem;

    display: flex;
    flex-wrap: wrap-reverse;
}

#web_top .col {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;


    flex-grow: 1;
    flex-basis: 400px;
}

#web_top .image {
    margin-top: 5rem;
}


/******* web_top SLUT *******/


#web_top .sectionwrapper_bottom {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: -2rem;
}

#web_top .col_2 {
    flex-grow: 1;
    flex-basis: 300px;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 5%;
}


/*---------------------------WEB SLUT---------------------------*/



/*------------------------------UX------------------------------*/
/******* ux_top *******/

#ux_top .cover_txt {
    background-color: #E0A2A8
}

#ux_top {
    margin-top: 1rem;
    margin-bottom: 1rem;


}

#ux_top .sectionwrapper {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: -4rem;

    display: flex;
    flex-wrap: wrap-reverse;
}

#ux_top .col_wide {

    flex-grow: 2;
    flex-basis: 600px;

}

#ux_top .col_narrow {

    flex-grow: 1;
    flex-basis: 300px;

}




#ux_top .slide_ux img {
    margin-left: -12vw;
}

#ux_top .slide_ux {
    margin-left: 45%;
    padding-top: 0.5rem;

}

#ux_bottom .slide_ux {
    margin-left: 45%;
    padding-top: 0.5rem;

}



/******* ux_top SLUT *******/

.col_wide {
    margin: 2rem;

}

/******* ux_bottom *******/

#ux_bottom .cover_txt {
    background-color: #E0A2A8
}

#ux_bottom .sectionwrapper {
    margin-left: 5rem;
    margin-right: 5rem;

    display: flex;
    flex-wrap: wrap-reverse;
}

#ux_bottom .col {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;


    flex-grow: 1;
    flex-basis: 400px;

}

.slide_ux .link {
    background-color: #E0A2A8;
    margin-left: -28%;
}


.slide_ux .link:hover {
    background-color: #BF7C80;

}


/******* ux_bottom SLUT *******/

/******* ux_dokumentation *******/

#ux_dokumentation .cover_txt {
    background-color: #E0A2A8
}

#ux_dokumentation .sectionwrapper {
    display: flex;
    flex-wrap: wrap-reverse;
}

#ux_dokumentation .col {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1rem;

    flex-grow: 1;
    flex-basis: 300px;

}

/******* ux_dokumentation SLUT *******/

/*---------------------------UX SLUT---------------------------*/



/*-----------------------ANIMATION-----------------------*/

/******* ANI TOP *******/
#ani_top .cover_txt {
    background-color: #665565
}

#ani_top {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


#ani_top .sectionwrapper {
    display: flex;
    flex-wrap: wrap-reverse;
}

#ani_top .col {
    margin: 2rem;

    flex-grow: 1;
    flex-basis: 500px;

}

#ani_top .image {
    margin-top: 5rem;
}

#ani_top .link {
    background-color: #826882;
    margin-left: 30%;


}

#ani_top .link:hover {
    background-color: #665565;

}


/******* ANI TOP SLUT *******/

/******* ANI MID *******/
#animationer h2 {
    margin-left: 2rem;
}

#animationer .sectionwrapper {
    margin-top: 4vw;
    display: flex;
    flex-wrap: wrap;

}

#animationer .col {
    flex-grow: 1;
    flex-basis: 200px;

    margin: 3rem;



}

#animationer .ball_1,
.ball_2,
.ball_3 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;


}

/*
#animationer  {
    margin-left: 2rem;
    margin-right: 2rem;

}
*/

.knap {
    /*    margin: 1rem;*/
    background-color: #826882;
    padding: 1px;
    width: 15vw;
    text-align: center;
    margin-left: 42%;
    position: relative;
    top: -4vw;
    font-family: 'Barlow', sans-serif;
    font-size: 1.2rem;

}

.knap:hover {

    background-color: #665565;
    padding: 3px;

}

.zoom_out {
    animation-name: zoom_out_kf;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

    animation-timing-function: linear;

}

@keyframes zoom_out_kf {
    0% {
        transform: scaleX(1) scaleY(1)
    }

    100% {
        transform: scaleX(0.1) scaleY(0.1)
    }
}

.drop {
    top: -5vw;
    animation-name: drop_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

    animation-timing-function: ease-in;

}

@keyframes drop_kf {
    0% {
        transform: translateY(-4vw)
    }

    25% {
        transform: translateY(0vw)
    }

    50% {
        transform: translateY(7vw)
    }

    75% {
        transform: translateY(0vw)
    }

    100% {
        transform: translateY(-4vw)
    }
}

.fade_in {
    animation-name: fade_in_kf;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-fill-mode: forwards
}

@keyframes fade_in_kf {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}


.kode_1 {
    position: relative;

    left: 1vw;
}

.kode_2 {
    position: relative;

    left: 1vw;
}

.kode_3 {
    position: relative;

    left: 1vw;
}

/******* ANI MID SLUT *******/

/******* ANI BOTTOM *******/
#ani_bottom .cover_txt {
    background-color: #665565
}

#ani_bottom {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


#ani_bottom .sectionwrapper {
    display: flex;
    flex-wrap: wrap-reverse;
}

#ani_bottom .col {
    margin: 2rem;

    flex-grow: 1;
    flex-basis: 500px;

}

#ani_bottom .image {
    margin-top: 7rem;
}

#ani_bottom .sectionwrapper_img {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-left: 2rem;
    margin-right: 2rem;
}

#ani_bottom .col_img {
    width: 10%;

    position: relative;
    top: -7vw;

    margin-left: 1rem;
    margin-right: 1rem;

    flex-grow: 1;
    flex-basis: 200px;
}

#ani_bottom .col_img:hover {
    transform: scale(1.2);
    z-index: 1;
}



/******* ANI BOTTOM SLUT *******/

#ani_bottom .link {
    background-color: #826882;
    margin-left: 30%;


}

#ani_bottom .link:hover {
    background-color: #665565;

}


/*--------------------ANIMATION SLUT--------------------*/



/*-----------------------INDHOLD-----------------------*/
#indhold_top .cover_txt {
    background-color: #CEAA72
}

video {
    width: 45vw;
}

#indhold_top {
    margin-top: 1rem;
    margin-bottom: 1rem;

}

#indhold_top .sectionwrapper {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap-reverse;

    margin-top: -4rem;
}

#indhold_top .col {
    margin: 1rem;

    flex-grow: 1;
    flex-basis: 500px;
}

#indhold_top .image {
    margin-top: 6rem;
}

#indhold_bottom .cover_txt {
    background-color: #CEAA72
}

#indhold_bottom .sectionwrapper {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap-reverse;

    margin-top: -4rem;
}

#indhold_bottom .col {
    margin: 1rem;

    flex-grow: 1;
    flex-basis: 500px;
}

#indhold_bottom .image {
    margin-top: 6rem;
}



#indhold_bottom .wrapper {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
}

#indhold_bottom .link {
    background-color: #CEAA72;
    font-family: 'Barlow', sans-serif;
}

#indhold_bottom .link:hover {
    background-color: #C2913B
}


/*--------------------INDHOLD SLUT--------------------*/



/*-----------------------OM-----------------------*/

#om .cover_txt {
    background-color: #91535C
}

#om {
    margin-top: 1rem;
    margin-bottom: 1rem;

}

#om .sectionwrapper {
    margin-left: 15vw;
    margin-right: 15vw;
    display: flex;
    flex-wrap: wrap-reverse;
}

#om .col {
    margin: 2rem;
    width: 10vw;

    flex-grow: 1;
    flex-basis: 300px;
}

/*--------------------OM SLUT--------------------*/








/*#pil_1 {
    top: 85vw;
    left: 2vw;
    height: 34vw;
    width: 12vw;
    background-image: url(splash_billeder/pil.svg);
    background-size: cover;
    position: absolute;

}

#pil_2 {
    top: 85vw;
    right: 2vw;
    height: 34vw;
    width: 12vw;
    background-image: url(splash_billeder/pil.svg);
    background-size: cover;
    position: absolute;
    transform: rotate(180deg)
}*/






@media screen and (max-width:600px) {

    #web_top .image {
        margin-top: 2rem;
    }

    #ani_top .image {
        margin-top: 2rem;
    }

    #ani_bottom .image {
        margin-top: 2rem;
    }

    #indhold_top .image {
        margin-top: 2rem;
    }

    #indhold_bottom .image {
        margin-top: 2rem;
    }

    h1 {
        font-size: 2rem;
    }


    .nav_links {
        position: absolute;
        width: 100%;
        height: 92vw;
        top: 8vw;
        background-color: #f0f0f0;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(-110vw);
        left: 0px;

    }

    .logo {
        font-size: 3rem;
    }

    h6 {
        margin: 1vw;
        padding: 2vw;
    }



    .cover_img {
        top: 10vw;
        height: 20vw;
        width: 100vw;
        position: relative;

    }

    .cover_txt {
        top: -2vw;

        margin-left: 20vw;
        margin-right: 20vw;
        padding-top: 10px;
        background-color: aquamarine;
    }


    /*---slider---*/
    .slide-content h2 {
        font-size: 2rem;


    }

    /*--ux--*/
    #ux_top .sectionwrapper {
        margin: 0;

    }

    #ux_bottom .sectionwrapper {
        margin: 0;

    }

    #ux_top .slide_ux img {
        margin-left: -16vw;
    }

    .slide_ux .link {
        margin-left: -18vw;
        width: 50vw;
    }

    #animationer .knap {
        margin-left: 30%;
        width: 45vw;
    }

    #ani_top .link {
        margin-left: 20%;
        width: 50vw;
    }

    #ani_bottom .link {
        margin-left: 20%;
        width: 50vw;
    }

    .col_wide {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 1rem;
        margin-bottom: 0rem;
    }

    .col_narrow {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 1rem;
        margin-bottom: 0rem;
    }

    video {
        width: 77vw;
    }

    #web_top .sectionwrapper {
        margin: 0;

    }

    #web_top .img_txt {
        font-size: 1rem;
        text-align: center;

        top: 32vw;
        right: 32vw;

    }



    /*  slider images til mobilversion  */
    .slide1 {
        background-image: url(splash_billeder/mobile_forside.svg)
    }

    .slide2 {
        background-image: url(splash_billeder/mobile_web_1.svg)
    }

    .slide3 {
        background-image: url(splash_billeder/mobile_ux.svg)
    }

    .slide4 {
        background-image: url(splash_billeder/mobile_animation.svg)
    }

    .slide5 {
        background-image: url(splash_billeder/mobile_indhold.svg)
    }

    .slide6 {
        background-image: url(splash_billeder/mobile_mig.svg)
    }
}

.show {
    transform: translateY(0%);
    transition: transform 0.7s ease-in;
}
